<header id='header'>
    <span class='nav-heading nav-brand'>A viajar </span>
    <input type='checkbox' class='menu-toggle' id='menu-toggle'>
    <nav class='header'>
        <ul>
            <li>
                <a href='#!'>Home <a>
            </li>
            <li>
                <a href='#!'>About <a>
            </li>
            <li class='nav-header'>
                <a href='#!'>Services <a>

            </li>
            <li>
                <a href='#!'>Contact us <a>
            </li>

        </ul>
    </nav>
    <label for='menu-toggle' class='menu-nav-toggle'>
        <span> </span>
    </label>


</header>